.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 90vh;
  margin: 5rem 0rem 10rem 0rem;
}
.popular-h1 {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.popular hr {
  margin: 0px;
  width: 40%;
  height: 6px;
  background-color: black;
  border-radius: 20px;
}
.popular-h1 h1{
  margin: 0px;
}

@media (max-width : 1280px){
  .popular{
    height: 70vh;
  }
  .popular-h1{
    font-size: 30px;
  }
  .popular hr{
    width: 160px;
    height: 4px;
  }
  .popular-item {
    gap: 20px;
    margin-top: 30px;
  }
}

@media (max-width : 1024px){
  .popular{
    height: 60vh;
  }
  .popular-h1{
    font-size: 25px;
  }
  .popular hr{
    width: 130px;
    height: 3px;
  }
  .popular-item {
    gap: 10px;
    margin-top: 20px;
  }
}

@media (max-width : 800px){
  .popular{
    height: 50vh;
  }
  .popular-h1{
    font-size: 20px;
  }
  .popular hr{
    width: 100px;
  }
  .popular-item {
    gap: 5px;
  }
}

@media (max-width : 500px){
  .popular{
    padding-top: 2 0px;
    height: 90vh;
  }
  .popular-h1{
    font-size: 20px;
  }
  .popular hr{
    width: 100px;
  }
  .popular-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}